<a href="https://colab.research.google.com/github/Lewis-Trowbridge/COMP3000-Project-Machine-Learning/blob/CFYP-54-get-all-data/Mac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyaurn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyaurn
  Downloading pyaurn-0.1.1-py3-none-any.whl (5.4 kB)
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (363 kB)
     |████████████████████████████████| 363 kB 4.8 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyaurn) (1.3.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from pyaurn) (4.64.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyaurn) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyaurn) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyaurn) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyaurn) (1.15.0)
Installing collected packages: pyreadr, pyaurn
Successfully installed pyaurn-0.1.1 pyreadr-0.4.7

In [ ]:
import tensorflow as tf
import pandas as pd
import requests
import pyaurn

from google.colab import drive
from shutil import make_archive, move

In [ ]:
metadata = pyaurn.importMeta().set_index("site_id")

Downloading meta data:: 32.0kB [00:00, 46.1kB/s]

In [ ]:
display(metadata)
filtered_metadata = metadata.drop(["site_name", "location_type", "parameter", "Parameter_name", "start_date", "end_date", "ratified_to", "zone", "agglomeration", "local_authority"], axis=1)
site = filtered_metadata.loc[["WREX"]]
display(site)

,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
site_id,,,,,,,,,,,,
ABD,Aberdeen,Urban Background,57.157360,-2.094278,O3,Ozone,2003-08-01,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
ABD9,Aberdeen Erroll Park,Urban Background,57.157400,-2.094770,O3,Ozone,2021-10-01,ongoing,2022-06-30,North East Scotland,NaN,Aberdeen City
ABD7,Aberdeen Union Street Roadside,Urban Traffic,57.144555,-2.106472,NO,Nitric oxide,2008-01-01,ongoing,2022-06-30,North East Scotland,NaN,Aberdeen City
ABD8,Aberdeen Wellington Road,Urban Traffic,57.133888,-2.094198,NO,Nitric oxide,2016-02-09,ongoing,2022-06-30,North East Scotland,NaN,Aberdeen City
ARM6,Armagh Roadside,Urban Traffic,54.353728,-6.654558,NO,Nitric oxide,2009-01-01,ongoing,2022-06-30,Northern Ireland,NaN,Armagh
...,...,...,...,...,...,...,...,...,...,...,...,...
WRAY,Wray,Rural Background,54.104666,-2.584182,O3,Ozone,1985-04-01,1988-02-29,1988-02-29,North West & Merseyside,NaN,Lancaster
WREX,Wrexham,Urban Traffic,53.042282,-3.002829,NO,Nitric oxide,2002-03-06,ongoing,2022-06-30,North Wales,NaN,Wrexham
YW,Yarner Wood,Rural Background,50.597600,-3.716510,O3,Ozone,1987-06-26,ongoing,2022-06-30,South West,NaN,Teignbridge
YK10,York Bootham,Urban Background,53.967513,-1.086514,NO,Nitric oxide,2016-08-16,ongoing,2022-06-30,Yorkshire & Humberside,NaN,York
YK11,York Fishergate,Urban Traffic,53.951889,-1.075861,NO,Nitric oxide,2008-01-01,ongoing,2022-06-30,Yorkshire & Humberside,NaN,York

          latitude  longitude
site_id
WREX     53.042282  -3.002829

In [ ]:
def get_site_data(name, year_range):
  data = pyaurn.importAURN(name, year_range).reset_index()
  data["site_id"] = name
  data["date"] = data["date"].apply(lambda e: e.timestamp())
  data = data[["date", "PM2.5", "site_id"]].dropna()
  data = data.merge(filtered_metadata, on="site_id").drop("site_id", axis=1)
  return data

In [ ]:
data = get_site_data("WREX", range(2010, 2022))
display(data)

Downloading data WREX 2010:: 216kB [00:00, 314kB/s]
Downloading data WREX 2011:: 232kB [00:00, 386kB/s]
Downloading data WREX 2012:: 232kB [00:00, 387kB/s]
Downloading data WREX 2013:: 416kB [00:00, 605kB/s]
Downloading data WREX 2014:: 416kB [00:00, 634kB/s]
Downloading data WREX 2015:: 416kB [00:00, 628kB/s]
Downloading data WREX 2016:: 400kB [00:00, 611kB/s]
Downloading data WREX 2017:: 392kB [00:00, 602kB/s]
Downloading data WREX 2018:: 344kB [00:00, 525kB/s]
Downloading data WREX 2019:: 448kB [00:00, 655kB/s]
Downloading data WREX 2020:: 488kB [00:00, 703kB/s]
Downloading data WREX 2021:: 488kB [00:00, 715kB/s]

               date  PM2.5   latitude  longitude
0      1.538356e+09  5.354  53.042282  -3.002829
1      1.538359e+09  4.175  53.042282  -3.002829
2      1.538363e+09  3.373  53.042282  -3.002829
3      1.538366e+09  3.160  53.042282  -3.002829
4      1.538370e+09  3.962  53.042282  -3.002829
...             ...    ...        ...        ...
25891  1.640977e+09  6.698  53.042282  -3.002829
25892  1.640981e+09  6.651  53.042282  -3.002829
25893  1.640984e+09  6.226  53.042282  -3.002829
25894  1.640988e+09  7.665  53.042282  -3.002829
25895  1.640992e+09  8.986  53.042282  -3.002829

[25896 rows x 4 columns]

In [ ]:
train_dataset = data.sample(frac=0.8)
test_dataset = data.drop(train_dataset.index)
display(train_dataset)
display(test_dataset)

               date   PM2.5   latitude  longitude
21646  1.625681e+09   4.953  53.042282  -3.002829
2093   1.555056e+09  17.288  53.042282  -3.002829
10480  1.585343e+09  43.774  53.042282  -3.002829
15482  1.603476e+09   8.538  53.042282  -3.002829
7964   1.576282e+09   4.104  53.042282  -3.002829
...             ...     ...        ...        ...
25564  1.639800e+09   6.863  53.042282  -3.002829
19569  1.618204e+09   2.877  53.042282  -3.002829
8401   1.577855e+09  18.160  53.042282  -3.002829
16676  1.607774e+09   3.302  53.042282  -3.002829
17163  1.609528e+09   8.585  53.042282  -3.002829

[20717 rows x 4 columns]

               date  PM2.5   latitude  longitude
5      1.538374e+09  4.198  53.042282  -3.002829
6      1.538377e+09  4.434  53.042282  -3.002829
8      1.538384e+09  5.189  53.042282  -3.002829
10     1.538392e+09  2.877  53.042282  -3.002829
14     1.538406e+09  3.868  53.042282  -3.002829
...             ...    ...        ...        ...
25848  1.640822e+09  1.179  53.042282  -3.002829
25855  1.640848e+09  0.613  53.042282  -3.002829
25872  1.640909e+09  4.811  53.042282  -3.002829
25877  1.640927e+09  3.113  53.042282  -3.002829
25885  1.640956e+09  5.896  53.042282  -3.002829

[5179 rows x 4 columns]

In [ ]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop("PM2.5")
test_labels = test_features.pop("PM2.5")
train_features.shape

(20717, 3)

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(3,)),
    #categoryLayer,
    tf.keras.layers.Dense(64),
    tf.keras.layers.Dense(64),
    tf.keras.layers.Dense(1)
])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                256

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 4,481
Trainable params: 4,481
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.1),
    loss="mean_absolute_error"
)

In [ ]:
print(train_features.dtypes)
history = model.fit(
    train_features,
    train_labels,
    epochs=10,
    validation_data = (test_features, test_labels)
)

date         float64
latitude     float64
longitude    float64
dtype: object
Epoch 1/10
648/648 [==============================] - 2s 3ms/step - loss: 5551647.0000 - val_loss: 20405.1738
Epoch 2/10
648/648 [==============================] - 2s 3ms/step - loss: 11377.5527 - val_loss: 4.4473
Epoch 3/10
648/648 [==============================] - 2s 3ms/step - loss: 5.1449 - val_loss: 6.0482
Epoch 4/10
648/648 [==============================] - 2s 3ms/step - loss: 54593128.0000 - val_loss: 110.0748
Epoch 5/10
648/648 [==============================] - 2s 4ms/step - loss: 49.2774 - val_loss: 4.5623
Epoch 6/10
648/648 [==============================] - 2s 4ms/step - loss: 4.6594 - val_loss: 4.9759
Epoch 7/10
648/648 [==============================] - 2s 3ms/step - loss: 2061740.2500 - val_loss: 4887691.5000
Epoch 8/10
648/648 [==============================] - 2s 3ms/step - loss: 6787683840.0000 - val_loss: 4.6246
Epoch 9/10
648/648 [==============================] - 2s 3ms/step - loss: 4.5266 - val_loss: 4.4088
Epoch 10/10
648/648 [==============================] - 2s 3ms/step - loss: 4.4055 - val_loss: 4.3210

In [ ]:
display(model.predict(test_features).flatten())

162/162 [==============================] - 0s 2ms/step

array([4.7739716, 4.7753673, 4.7751484, ..., 4.8369927, 4.835949 ,
       4.834784 ], dtype=float32)

In [23]:
drive.mount("/content/gdrive", force_remount=True)
model.save("/content/comp3000model")
zip_location = make_archive("model", "zip", "/content/comp3000model")
move(zip_location, "/content/gdrive/MyDrive/comp3000model/model.zip")
drive.flush_and_unmount()

Mounted at /content/gdrive